<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bodh Sea - Edit Comment</title>
    <link rel="stylesheet" th:href="@{/CSS/common.css}">
    <link rel="stylesheet" th:href="@{/CSS/editCommentStyle.css}">
</head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div>
<div class="container">
    <h2>Edit Comment</h2>
    <form th:action="@{/posts/comments/edit}" method="post">
        <input type="hidden" name="id" th:value="${comment.id}">
        <textarea name="content" required th:text="${comment.content}"></textarea>
        <div class="actions">
            <button type="submit" class="btn btn-save">Save</button>
            <a class="btn btn-cancel" th:href="@{/post/viewPost(id=${postId})}">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
